**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
LICENSE
README.md
